.promo_deloitte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.promo_deloitte-title {
  font-size: 34px !important;
  line-height: 50px !important;
  max-width: 360px;
  margin-bottom: 40px;
}

.promo_deloitte-logos {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: -50px;
  flex-wrap: wrap;
  width: calc(100% + 50px);
}

.promo_deloitte-logo {
  margin-right: 50px;
  margin-bottom: 60px;
}

.promo_deloitte-buttons {
  display: inline-flex;
  flex-direction: row;
  margin-right: -20px;
  margin-bottom: -20px;
  flex-wrap: wrap;
  width: calc(100% + 20px);
}

.promo_deloitte-button {
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .promo_deloitte-title {
    font-size: 18px !important;
    line-height: 30px !important;
  }

  .promo_deloitte-logos {
    margin-right: -35px;
    width: calc(100% + 35px);
  }
  
  .promo_deloitte-logo {
    margin-right: 35px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .promo_deloitte-title {
    font-size: 26px !important;
    line-height: 40px !important;
  }
}
