.promo {
  flex: auto;
  background-color: #624e90;
  background-image: url('artboard.jpg');
  background-size: cover;
  max-height: 100%;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}

.promo a:link,
.promo a:visited,
.promo a:focus,
.promo a:hover {
  color: #ffffff;
  text-decoration: none;
}

.promo-content {
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .promo {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .promo-content {
    display: none;
  }
}

.promo-button {
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: Transparent;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: background-color .15s;
  padding: 15px 38px;
}

.promo-button:hover {
  background-color: rgba(78, 62, 115, 0.5);
}

.promo-button:active {
  background-color: rgba(48, 39, 72, 0.5);
  outline: none;
}

.promo-logo {
  position: absolute;
  left: 60px;
  top: 60px;
}

.promo-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
}

.promo-text {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .promo-title {
    font-size: 18px;
    line-height: 30px;
  }

  .promo-button {
    padding: 15px 30px;
  }

  .promo-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .promo-text {
    font-size: 18px;
  }

  .promo-title {
    font-size: 23px;
    line-height: 35px;
  }
}

@media screen and (max-width: 1400px) {
  .promo-logo {
    left: 45px;
    top: 45px;
  }
}
