.promo_on_premise {
  width: 100%;
    height: 100vh;
    padding: 120px 140px;
    box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
  .promo_on_premise {
    padding: 100px 45px 60px;
  }
}

